<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                                </div>
                                <form class="user" method="POST">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user"
                                            placeholder="Nama" name="username" value="<% if(typeof data != 'undefined'){ %><%= data.username %><% } %>">
                                            <% if(typeof errors != 'undefined'){ %> 
                                                <% if(typeof errors.find(element => element.param == 'username') != 'undefined'){ %> 
                                                    <small class="text-danger"><%= errors.find(element => element.param == 'username').msg %></small>
                                                <% } %> 
                                            <% } %> 
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user"
                                            placeholder="Email Address" name="email" value="<% if(typeof data != 'undefined'){ %><%= data.email %><% } %>">
                                            <% if(typeof errors != 'undefined'){ %> 
                                                <% if(typeof errors.find(element => element.param == 'email') != 'undefined'){ %> 
                                                    <small class="text-danger"><%= errors.find(element => element.param == 'email').msg %></small>
                                                <% } %> 
                                            <% } %> 
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input type="password" class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="Password" name="password" value="<% if(typeof data != 'undefined'){ %><%= data.password %><% } %>">
                                                <% if(typeof errors != 'undefined'){ %> 
                                                    <% if(typeof errors.find(element => element.param == 'password') != 'undefined'){ %> 
                                                        <small class="text-danger"><%= errors.find(element => element.param == 'password').msg %></small>
                                                    <% } %> 
                                                <% } %> 
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control form-control-user"
                                                id="exampleRepeatPassword" placeholder="Repeat Password" name="password2" value="<% if(typeof data != 'undefined'){ %><%= data.password2 %><% } %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-select" name="role">
                                            <option selected value="">Role</option>
                                            <option value="nurse">Nurse</option>
                                            <option value="doctor">Doctor</option>
                                            <option value="scientist">Scientist</option>
                                            <option value="none">None</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control form-control-user"
                                            placeholder="Tinggi" name="tinggi" value="<% if(typeof data != 'undefined'){ %><%= data.tinggi %><% } %>">
                                            <% if(typeof errors != 'undefined'){ %> 
                                                <% if(typeof errors.find(element => element.param == 'tinggi') != 'undefined'){ %> 
                                                    <small class="text-danger"><%= errors.find(element => element.param == 'tinggi').msg %></small>
                                                <% } %> 
                                            <% } %> 
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control form-control-user"
                                            placeholder="Berat" name="berat" value="<% if(typeof data != 'undefined'){ %><%= data.berat %><% } %>">
                                            <% if(typeof errors != 'undefined'){ %> 
                                                <% if(typeof errors.find(element => element.param == 'berat') != 'undefined'){ %> 
                                                    <small class="text-danger"><%= errors.find(element => element.param == 'berat').msg %></small>
                                                <% } %> 
                                            <% } %> 
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control form-control-user"
                                            placeholder="Umur" name="umur" value="<% if(typeof data != 'undefined'){ %><%= data.umur %><% } %>">
                                            <% if(typeof errors != 'undefined'){ %> 
                                                <% if(typeof errors.find(element => element.param == 'umur') != 'undefined'){ %> 
                                                    <small class="text-danger"><%= errors.find(element => element.param == 'umur').msg %></small>
                                                <% } %> 
                                            <% } %> 
                                    </div>
                                    <div class="form-group">
                                        <select class="form-select" name="golDar">
                                            <option selected>Golongan Darah</option>
                                            <option value="O+">O+</option>
                                            <option value="A+">A+</option>
                                            <option value="B+">B+</option>
                                            <option value="AB+">AB+</option>
                                            <option value="O-">O-</option>
                                            <option value="A-">A-</option>
                                            <option value="B-">B-</option>
                                            <option value="AB-">AB-</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-select" name="gender">
                                            <option selected>Gender</option>
                                            <option value="laki">Laki-laki</option>
                                            <option value="perempuan">Perempuan</option>
                                        </select>
                                    </div>
                                    <button class="btn btn-primary btn-user btn-block" type="submit">
                                        Register Account
                                    </button>
                                    <!-- <hr>
                                    <a href="index.html" class="btn btn-google btn-user btn-block">
                                        <i class="fab fa-google fa-fw"></i> Register with Google
                                    </a>
                                    <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                        <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                    </a> -->
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="/login">Already have an account? Login!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>